{% extends "base.html" %}
{% load static %}

{% block full_screen %}
{% include "fixed_navbar.html" %}

<div class="relative">

    
    <!-- slider -->
    <div class="absolute object-cover top-0 bottom-0 left-0 right-0 z-0 bg-slate-800">
        <div class="carousel-container" id="service-banner">
            <div class="wrapper">
                {% if category.cover %}
                <div class="slide" 
                    style=" 
                        background-image: url({{ category.cover.url }});
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: right;
                    "
                >
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- content  -->
    <div class="bg-gradient-to-tr from-slate-800/90 to-transparent pt-10 relative z-10">
    
        <div class="px-10 md:px-20  space-y-7 py-10 md:py-20 relative z-10 ">
            <h1 class="text-4xl font-semibold tracking-tighter !text-white  animate-slidein  opacity-0 [--slidein-delay:100ms]">
                <span>{{category.name}}</span>
            </h1>
    
            <p class="text !text-white max-w-xl  animate-slidein  opacity-0 [--slidein-delay:300ms]">
            {{ category.description }}
            </p>
    
            <button class="button primary big  animate-slidein  opacity-0 [--slidein-delay:600ms]">Apply For Service</button>  
        </div>
    </div>
</div>



<div class="px-10 md:px-20 my-20 py-5  animate-slidein  opacity-0 [--slidein-delay:900ms]">
    
    <h1 class="text-2xl md:text-4xl text-center font-normal tracking-tighter">All Our Core Business models are offered to all </h1>
    <div class="grid grid-cols-3 gap-10 mt-10">
        <div class=" py-2.5 px-5  rounded-full bg-slate-100 text-center">
            <i class="fa-regular fa-comments text-base md:text-2xl text-primary-500 mr-2"></i>
            <span class="text-lg font-normal mb-2.5">Consultation</span>
        </div>
        <div class=" py-2.5 px-5  rounded-full bg-slate-100 text-center">
            <i class="fa-solid fa-hand-holding-dollar  text-base md:text-2xl text-primary-500 mr-2"></i>
            <span class="text-lg font-normal mb-2.5">Endorsement and Sponsorship</span>
        </div>
        <div class=" py-2.5 px-5  rounded-full bg-slate-100 text-center">
            <i class="fa-solid fa-gears text-base md:text-2xl text-primary-500 mr-2"></i>
            <span class="text-lg font-normal mb-2.5">Manage Services Opertations</span>
        </div>
    </div>
</div>  



<div class="px-10 md:px-20  animate-slidein  opacity-0 [--slidein-delay:1200ms] my-20">
    
    <p class="text-xl md:text-2xl text-center font-normal tracking-tighter mb-10">Common Services Offered Under {{category.name}}</p>
    <div class="grid grid-cols-2 gap-10">
        {% for service in category.services.all %}
        <h1 class="text-base font-normal tracking-tighter">
            <span class="mr-2">
                <i class="fa-solid fa-chevron-right text-primary-500"></i>
            </span> <span>{{ service.name }} ssd</span>
        </h1>
        {% endfor %}
    </div>
</div>



{% endblock full_screen %}




{% block scripts %}
  
    <!-- <script>

        const sections = document.querySelectorAll('.industry');
        let currentSectionIndex = 0;
        let wasPrevious = false;

        function handleWheel(event) {
            event.preventDefault();

            if (isAtBottom(sections[currentSectionIndex])) {
                           
                if (event.deltaY < 0) {
                    // Scroll up
                    if (currentSectionIndex > 0) {
                        currentSectionIndex--;
                    }
                } else {
                    // Scroll down
                    if (currentSectionIndex < sections.length - 1) {
                        currentSectionIndex++;
                    }
                }

                const targetSection = sections[currentSectionIndex];
                window.scrollTo({
                    top: targetSection.offsetTop,
                    behavior: 'smooth'
                });
    
            }else{
                const postion = getElementPostion(sections[currentSectionIndex]);
                let goTo = postion;
                if ( wasPrevious ) {
                    const targetSection = sections[currentSectionIndex];
                    goTo = targetSection
                }
                window.scrollTo({
                    top: goTo,
                    behavior: 'smooth'
                });
            }
        }
        function isAtBottom(element) {

            const rect = element.getBoundingClientRect();
            const elementFromTop = element.offsetTop;

            const viewportHeight = window.innerHeight;
            const scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

            if(viewportHeight+2 < rect.height ){
                wasPrevious = true;
                return true;
            }
            wasPrevious = false;
            return false;
        }

        function getElementPostion(element){
            const rect = element.getBoundingClientRect();
            const elementFromTop = element.offsetTop;
            const viewportHeight = window.innerHeight;
            const scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
            return scrollPosition + (rect.height % viewportHeight)
        }


        document.addEventListener('wheel', handleWheel);


    </script> -->

    <script>
        const images = document.querySelectorAll('.slide');
        let currentIndex = 0;

        function showImage(index) {
            images.forEach((img, key) => {
                img.style.opacity = (index === key) ? 1 : 0;
            });
        }

        function transitionImage() {
            showImage(currentIndex);
            currentIndex = (currentIndex + 1) % images.length;
            setTimeout(transitionImage, 5000); // Change image every 5 seconds
        }

        document.addEventListener('DOMContentLoaded', () => {
            transitionImage();
        });

    </script>

{% endblock scripts %}