
{% extends "admin/base.html" %}

{% block content %}
    <div>
        <h1 class="h1">Administrator Panel</h1>

        <h2 class="mt-10 mb-5 font-semibold text-lg 2xl:text-2xl text-slate-600">Hello {{ request.user.firstname}}</h2>

        <div class="panel-link">

            <a href="{% url "admin:service-list" %}">
                <i class="fa-solid fa-briefcase"></i>
                <span class="mx-4 font-medium">Services</span>
            </a>

            <a href="{% url "admin:category-list" %}">
                <i class="fa-brands fa-buffer"></i>
                <span class="mx-4 font-medium">Category</span>
            </a>

            <a href="{% url "admin:user-list" %}">
                <i class="fa-regular fa-user"></i>
                <span class="mx-4 font-medium">Users</span>
            </a>

            <a href="{% url "admin:affiliate-list" %}">
                <i class="fa-regular fa-handshake"></i>
                <span class="mx-4 font-medium">Affiliates</span>
            </a>

            <a href="{% url "admin:member-list" %}">
                <i class="fa-solid fa-user-group"></i>
                <span class="mx-4 font-medium">Members</span>
            </a>

        </div>
    </div>
{% endblock content %}
