{% load static %}


<section class="pt-20 pb-10  ">

    <div class="px-10 sm:px-20">

        <div class="flex justify-center gap-10 my-10">

            <div>
                <h1 class="text-2xl md:text-4xl font-normal tracking-tighter">
                    <span>Our Contacts</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="grid md:grid-cols-3 mt-10">

        <div class="p-10 flex flex-col items-center gap-5">
            <h2 class="text-lg text-center md:text-xl font-normal text-slate-700 min-h-8 leading-5">Address</h2>
            <div class="text text-center">
                2540 Central Avenue,<br/> Detroit,<br/>Michigan,48209
            </div>
        </div>

        <div class="p-10 flex flex-col items-center gap-5 ">
            <h2 class="text-lg text-center md:text-xl font-normal text-slate-700 min-h-8 leading-5">Phone</h2>
            <p class="text text-center">
                <a href="tel:+14242536703">+14242536703</a><br>
                <a href="tel:+260968666009">+260968666009</a>
            </p>
        </div>

        <div class="p-10 flex flex-col items-center gap-5">
            <h2 class="text-lg text-center md:text-xl font-normal text-slate-700 min-h-8 leading-5">Socials</h2>
            
            <div class="space-y-1.5 text">
                <div>
                    <a href="https://www.linkedin.com/in/sila-global-solutions-6b251832a/">
                        <i class="fa-brands fa-linkedin"></i>
                        <span>Sila Global Solutions</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>