@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;

  /* color-scheme: light dark; */
  color: #213547;
  background-color: #ffffff;
  font-variation-settings:
    "wdth" 100;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: "Poppins", sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */


marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: max-content;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.track {
  position: relative;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}
.track:hover{
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


.hero
{
  background-image: url('./../assets/background/vegetables.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}