{% extends "base.html" %}
{% load static %}
{% block full_screen %}
<div class="p-5  min-h-screen grid place-items-center bg-slate-200">
    <div class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg ">
        <div class="px-6 lg:px-10 py-6">
           <a href="{% url "core:landing" %}">
                <div class="flex justify-center mx-auto mb-5">
                    <h1 class="text-2xl font-bold tracking-tighter">SGS</h1>
                </div>
            </a>
            <p class="mt-1 text-center text-gray-500 ">Login</p>
            
            <form method="post">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="field mt-2">
                        <label for="{{field.auto_id}}">{{field.label}}</label>
                        <div class="group {% if field.errors %} error {% endif %}">
                            {% for error in field.errors %}
                                <div class="text-red-600 text-xs block">{{error}}</div>
                            {% endfor %}
                        </div>
                        {{field}}
                        
                    </div>
                {% endfor %}
    
                <div class="flex items-center justify-between mt-4">
                    <a href="#" class="text-sm text-gray-600  hover:text-gray-500">Forget Password?</a>
    
                    <button class="button primary">
                        Sign In
                    </button>
                </div>
            </form>
        </div>
    
        <div class="flex items-center justify-center py-4 text-center bg-gray-50">
            <span class="text-sm text-gray-600 ">Don't have an account? </span>
    
            <a href="#" class="mx-2 text-sm font-bold text-primary-500  hover:underline">Register</a>
        </div>
    </div>
</div>

{% endblock %}