{% extends "admin/base.html" %}

{% load static %}

{% block content %}

<div class="flex items-base justify-between gap-5 col-span-2 mb-10">

  {% if request.GET.next %}
    <a href="{{ request.GET.next }}" class="text-sm"><i class="fa-solid fa-arrow-left"></i> Back to Category</a>
  {% else %}
    <a href="{% url 'admin:member-list' %}" class="text-sm"><i class="fa-solid fa-arrow-left"></i> Back to List</a>
  {% endif %}
</div>

  <h2 class="font-bold text-2xl mb-5">{{ member.name }}</h2>
  <p class="text-sm text-gray-600">{{ member.description }}</p>
  <div class="flex items-center gap-4 my-10">
    <a href="{% url 'admin:member-update' member.id %}" class="button dashed"> <i class="fa-regular fa-pen-to-square"></i> Edit</a>
    <a href="{% url 'admin:member-delete' member.id %}" class="button danger"> <i class="fa-regular fa-trash-can"></i> Delete</a>
  </div>

<hr class="my-10"/>
{% endblock %}
